.table-data {
  .table-responsive {
    min-height: 250px;
  }
  .dropdown-menu {
    box-shadow: 0 10px 10px rgba(50, 50, 93, 0.1),
      0 5px 20px rgba(50, 50, 93, 0.15), 0 5px 15px rgba(0, 0, 0, 0.1);
  }
}
.user--username {
  max-width: 180px;
  transform: translate(-50%, -30%);
  position: absolute;
  left: 50%;
  transition: all 0.15s ease;

  width: 180px;
  height: 180px;
  line-height: 180px;
  text-align: center;
  border-radius: 50%;
  font-size: 32px;
  background: #00000096;
  color: white;
}
