.error-text {
  font-size: 13px;
  margin-top: 10px;
}
.cover {
  position: relative;
  padding-top: 50%;
}
.project-cover {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.project-content {
  max-height: 400px;
  overflow-y: auto;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 1.5rem;
  color: #333;
  a {
    color: #fa6c51;
  }
  img {
    margin-left: auto;
    margin-right: auto;
    max-width: 490px;
    max-height: 490px;
  }
}
.project-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  border-top: 1px solid #e9ecef;
}
.decline-container {
  width: 100%;
  padding-right: 20px;
}
.project-fund-details {
  .progress {
    height: 4px;
  }
  .progress-meter-heading {
    font-weight: normal;
    margin-bottom: 0.75rem;
    line-height: 0.8;
    margin-top: 0.25rem;
    font-size: 20px;
    .text-stat-title {
      color: #767676;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.21;
      margin-left: 5px;
    }
  }
  .owner-avatar-container {
    height: 48px;
    width: 48px;
    .owner-avatar {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      cursor: pointer;
      height: 48px;
      width: 48px;
      border-radius: 50%;
    }
    .owner-avatar-preview {
      height: 48px;
      width: 48px;
      text-align: center;
      line-height: 48px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      font-weight: 500;
      border-radius: 50%;
    }
  }
  .owner-info {
    font-size: 14px;
    a {
      color: #fa6c51;
    }
  }
}
.not-updated {
  margin: 0;
  font-size: 14px;
}
