.course-card {
  a {
    color: unset;
  }
  &:hover {
    color: black;
  }
  .card-text {
    font-size: 13px;
  }
  .dropdown {
    position: absolute;
    bottom: 22px;
    right: 15px;
    button {
      background-color: transparent;
      box-shadow: none;
      color: #494949;
      border-color: #898989;
    }
  }
}
.desc-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
