.course-card {
  a {
    color: unset;
  }
  &:hover {
    color: black;
  }
  .card-text {
    font-size: 13px;
  }
  .dropdown {
    position: absolute;
    bottom: 22px;
    right: 15px;
    button {
      background-color: transparent;
      box-shadow: none;
      color: #494949;
      border-color: #898989;
    }
  }
}
.desc-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.first-row {
  background-color: rgba(17, 127, 239, 0.1) !important;
  &:hover {
    background-color: rgba(17, 127, 239, 0.2) !important;
  }
}
.has-danger:after {
  background: unset !important;
  content: "" !important;
}
.has-danger label.form-control-label {
  color: #fb6340 !important;
}
